.page-header
  .pull-right.btn-group
    = link_to_new new_product_path
    %a.btn.btn-primary{href: "#{new_many_products_path}"}
      New many
  %h1 Products

%table.table.table-striped.table-bordered.table-hover.table-condensed#product_list
  %thead
    %tr
      %th Category
      %th Internal Reference
      %th Name
      %th Batch
      %th



:coffee
  @sResourcesURL = "#{products_path}"
  $('table').DataTable
    buttons: [
      'csvHtml5',
      'excelHtml5'
    ]
    processing: true
    serverSide: true
    ajax:
      url: "#{products_path(format: :json)}"
      # type: 'POST'
    pageLength: 150
    order: [[1, 'asc']]
    columnDefs: [
      {
        data: 'cataegory_name'
        name: 'cataegory_name'
        targets: 0
      }, {
        data: 'code'
        name: 'code'
        targets: 1
      }, {
        data: 'name'
        name: 'name'
        targets: 2
      }, {
        data: 'batch'
        name: 'batch'
        targets: 3
      }, {
        data: 'id'
        render: (data) ->
          "<div class=\"btn-group btn-group-xs\">
          \#{fnLinkToShow(fnUrlForResource(sResourcesURL, data))}
          \#{fnLinkToEdit(fnUrlForEdit(sResourcesURL, data))}
          \#{fnLinkToDestroy(fnUrlForResource(sResourcesURL, data))}
          </div>"
        targets: -1
      }
    ]
