!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Dmpn
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://cdn.datatables.net/v/bs/dt-1.10.16/b-1.4.2/b-html5-1.4.2/datatables.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://cdn.datatables.net/v/bs/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-html5-1.4.2/datatables.min.js'
    = javascript_tag do
      $.extend( $.fn.dataTable.defaults, {
      "dom": "<'row'<'col-xs-6'B><'col-xs-6'f>r>t<'row'<'col-xs-6'i><'col-xs-6'p>>"
      });
  %body
    -# Fixed navbar
    %nav.navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbar"}, aria: {expanded: "false", controls: "navbar"}}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => root_path}
            Dema Part Numbering

        .btn-group.pull-right
          %a.btn.btn-default.navbar-btn{:href => "#{root_path}"}
            %span.glyphicon.glyphicon-home
            &nbsp;Home
          - if current_user
            %a.btn.btn-default.navbar-btn{:href => "#{logout_path}"}
              %span.glyphicon.glyphicon-log-out
              &nbsp;Log out

        #navbar.collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li.dropdown
              %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: "true", expanded: "false"}}
                Category
                %span.caret
              %ul.dropdown-menu
                %li= link_to 'List', categories_path
                %li= link_to 'New', new_category_path
            %li.dropdown
              %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: "true", expanded: "false"}}
                Product
                %span.caret
              %ul.dropdown-menu
                %li= link_to 'List', products_path
                %li= link_to 'New one', new_product_path
                %li= link_to 'New many', new_many_products_path
            %li.dropdown
              %a.dropdown-toggle{href: "#", data: {toggle: "dropdown"}, role: "button", aria: {haspopup: "true", expanded: "false"}}
                System
                %span.caret
              %ul.dropdown-menu
                - if current_user
                  %li= link_to 'Change Password', password_index_path
                  - if current_user.is_admin?
                    %li= link_to 'Users', users_path

    .container
      - flash.each do |name, msg|
        = content_tag :div, :class => "alert #{name == :alert ? 'alert-danger' : 'alert-success' }" do
          %a.close{:href => '#', :data => {:dismiss => 'alert'} } ×
          = msg
      = yield
